/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #contact-2320 {
        background-color: var(--lighter);
        padding: var(--sectionPadding);
        display: flex;
        flex-direction: column;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(580 / 16 * 1rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-container2 {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(580 / 16 * 1rem);
            padding: calc(80 / 16 * 1rem) calc(48 / 16 * 1rem);
            margin: auto;
            position: relative;
            z-index: 1;

            .cs-topper {
                color: #fff;
            }
        }

        .cs-content {
            text-align: left;
            width: 100%;
        }

        .cs-title {
            margin-bottom: calc(32 / 16 * 1rem);
        }

        .cs-form {
            width: 100%;
            // max-width: calc(630 / 16 * 1rem);
            /* 24px - 48px top and bottom */
            /* 16px - 48px left and right */
            padding: clamp(1.5rem, 5.18vw, 3rem) clamp(1rem, 4vw, 3rem);
            /* prevents flexbox from affecting height and width */
            box-sizing: border-box;
            background-color: var(--white);
            border-radius: var(--borderRounded);
            box-shadow: var(--shadow);
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            gap: calc(12 / 16 * 1rem);
        }

        .cs-label {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            width: 100%;
            color: var(--headerColor);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: calc(4 / 16 * 1rem);
        }

        .cs-input {
            font-size: calc(16 / 16 * 1rem);
            width: 100%;
            height: calc(56 / 16 * 1rem);
            padding: 0;
            padding-left: calc(24 / 16 * 1rem);
            border-radius: var(--borderRoundedSm);
            color: var(--headerColor);
            background-color: #f7f7f7;
            border: none;
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            &::placeholder {
                color: #7d799c;
                opacity: 0.6;
            }
        }

        .cs-textarea {
            min-height: calc(120 / 16 * 1rem);
            padding-top: calc(24 / 16 * 1rem);
            margin-bottom: calc(12 / 16 * 1rem);
            font-family: inherit;
        }

        input[type="file"] {
            display: none;
        }

        .cs-file-upload {
            font-size: calc(16 / 16 * 1rem);
            width: 100%;
            line-height: calc(36 / 16 * 1rem);
            padding: 0 calc(48 / 16 * 1rem);
            display: inline-block;
            color: var(--primary);
            border: 1px solid var(--primary);
            border-radius: var(--borderRoundedSm);
            background-color: #fff;
            text-align: center;
            transition: all 0.3s;
            cursor: pointer;

            &:hover {
                background-color: var(--primary);
                color: #fff;
            }
        }

        .cs-file-upload-help-text {
            font-size: clamp(0.75rem, 1.5vw, 0.875rem);
            color: var(--gray);
            margin-top: calc(4 / 16 * 1rem);
            width: 100%;
            text-align: right;
        }

        .cs-submit {
            border: none;
        }

        .cs-contact-container {
            background-color: var(--white);
            padding: 1.5rem;
            border-radius: var(--borderRounded);
            box-shadow: var(--shadow);
            width: 100%;
            margin: auto;
            /* changes to 1280px at desktop */
            max-width: calc(580 / 16 * 1rem);
        }

        .cs-h3 {
            /* 20px - 39px */
            font-size: clamp(1.25rem, 3vw, 2.4375rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 calc(4 / 16 * 1rem) 0;
            color: var(--bigTextColor);
        }

        .cs-ul {
            text-align: left;
            width: 100%;
            margin: 0;
            // padding: 0;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: calc(24 / 16 * 1rem);

            position: relative;
        }

        .cs-li {
            list-style: none;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: calc(20 / 16 * 1rem);

            &:hover {
                .cs-icon-wrapper {
                    transform: scale(1.1);
                }
            }
        }

        .cs-link {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            text-decoration: none;
            color: var(--primary);
            display: block;
            position: relative;

            &:hover {
                text-decoration: underline;
            }
        }

        .cs-icon-wrapper {
            width: calc(60 / 16 * 1rem);
            height: calc(60 / 16 * 1rem);
            margin: 0;
            border-radius: 50%;
            border: 1px solid #bababa;
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            transition: transform 0.3s;
        }

        .cs-icon {
            width: calc(24 / 16 * 1rem);
            height: auto;
            display: block;
        }

        .cs-flex-group {
            display: flex;
            flex-direction: column;
        }

        .cs-map {
            width: 100%;
            max-width: calc(630 / 16 * 1rem);
            height: calc(400 / 16 * 1rem);
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .cs-iframe-wrapper {
            width: 100%;
            position: relative;
            top: 0;
            left: 0;
            /* 40px - 56px */
            bottom: clamp(2.5rem, 5vw, 3.5rem);

            iframe {
                // position: absolute;
                top: 0;
                left: 0;
                // height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-box {
            width: 90%;
            max-width: calc(450 / 16 * 1rem);
            /* 16px - 32px top & bottom */
            /* 16px left & right */
            padding: clamp(1rem, 3vw, 2rem) clamp(1rem, 2.4vw, 1rem);
            background-color: #fff;
            display: flex;
            align-items: flex-start;
            gap: calc(8 / 16 * 1rem);
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 100;

            &:before {
                content: "";
                width: 100%;
                height: 100%;
                background: var(--primary);
                pointer-events: none;
                opacity: 0.1;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-icon {
            width: calc(32 / 16 * 1rem);
            height: auto;
            display: block;
        }

        .cs-flex {
            display: flex;
            flex-direction: column;
        }

        .cs-header {
            font-size: calc(20 / 16 * 1rem);
            font-weight: 700;
            line-height: 1.2em;
            margin: 0 0 calc(8 / 16 * 1rem);
            color: var(--headerColor);
        }

        .cs-address {
            font-size: clamp(0.75rem, 2.8vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-hours {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cs-hours-info {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 3vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            width: 60%;
            max-width: 28ch;
            margin: 0;
            color: var(--bodyTextColorWhite);
        }
    }
}

/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
    #contact-2320 {
        .cs-ul {
            justify-content: space-around;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #contact-2320 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            flex-direction: row;
            justify-content: space-between;
            // align-items: stretch;
            // gap: calc(52 / 16 * 1rem);
        }

        .cs-contact-container {
            max-width: calc(1280 / 16 * 1rem);
        }

        .cs-content {
            // max-width: calc(522 / 16 * 1rem);
            width: 46%;
            /* 24px - 80px */
            // padding: clamp(2rem, 5vw, 5rem) 0;
        }

        .cs-title,
        .cs-text {
            text-align: left;
            margin-left: 0;
        }

        .cs-title {
            max-width: calc(522 / 16 * 1rem);
        }

        .cs-services,
        .cs-date,
        .cs-time {
            width: 47%;
        }

        .cs-button-solid {
            margin-left: 0;
        }

        .cs-map {
            max-width: calc(630 / 16 * 1rem);
            height: auto;
            order: -1;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #contact-2320 {
            background-color: var(--dark);
            .cs-title,
            .cs-header,
            .cs-address {
                color: var(--bodyTextColorWhite);
            }

            .cs-box {
                background-color: var(--dark);
                &:before {
                    background-color: #000;
                    opacity: 0.4;
                }
            }

            .cs-form {
                background-color: var(--accent);
            }

            .cs-contact-container {
                background-color: var(--accent);
            }

            .cs-label {
                color: var(--bodyTextColorWhite);
            }

            .cs-icon-wrapper {
                img {
                    filter: grayscale(1) brightness(1000%);
                }
            }

            .cs-link {
                color: var(--tertiary);
            }

            .cs-input {
                background-color: #4f4f4f;
                color: var(--bodyTextColorWhite);
                &::placeholder {
                    color: #fff;
                    opacity: 0.5;
                }
            }

            .cs-file-upload {
                background-color: #4f4f4f;
                border-color: var(--secondary);
                color: var(--white);

                &:hover {
                    background-color: var(--secondary);
                    color: #000;
                }
            }
        }
    }
}
